<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet-DAO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404.html</location>
  </error-page>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test_db</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>passwd</param-name>
    <param-value>*********</param-value>
  </context-param>
  <context-param>
    <param-name>driverClassName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <listener>
    <listener-class>com.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>com.servlets.InsertUserServlet</servlet-class>
  </servlet><servlet>
  	<servlet-name>editUser</servlet-name>
  	<servlet-class>com.servlets.EditUserServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/user/insertUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editUser</servlet-name>
  	<url-pattern>/user/editUser.do</url-pattern>
  </servlet-mapping><filter>
    <filter-name>EditUserFilter</filter-name>
    <filter-class>com.filters.EditUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EditUserFilter</filter-name>
    <url-pattern>/user/edit.jsp</url-pattern>
  </filter-mapping>
  
  
</web-app>
